.acBox {
  width: 90%;
  min-height: 300px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  color: #ababb2;
  margin-bottom: 4%;
}
.acBox > h2 {
  color: rgb(255, 255, 255);
}

.acBox > button {
  width: 90%;
  height: 60px;
  background-color: #2c2d3f;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #ffff;
  align-items: center;
  border: none;
  font-size: 110%;
}

.arrow {
  border: solid #ababb2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  border: solid #ababb2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media only screen and (max-width: 849px) {
  .acBox {
    margin-bottom: 10%;
  }
}
